In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\security\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\security\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [7]:
import pandas as pd
df = pd.read_csv("Book1.csv")
df

     Name  Age
0    Abhi   26
1    Neha   27
2  Milind   27

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark = spark.read.csv('Book1.csv')

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [14]:
df_pyspark .show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Abhi| 26|
|  Neha| 27|
|Milind| 27|
+------+---+

In [19]:
df_pyspark= spark.read.option('header','true').csv('Book1.csv')

In [21]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Abhi| 26|
|  Neha| 27|
|Milind| 27|
+------+---+

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)