# Pyspark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark = spark.read.csv('Book4.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+------------+------+
|    Name|  Department|Salary|
+--------+------------+------+
|    Abhi|Data Science| 10000|
|    Minu|         IOT|  5000|
|    Neha|    Big Data|  4000|
|  Milind|Data Science|  4000|
|    Abhi|         IOT|  3000|
|    Minu|    Big Data| 20000|
|   Sunny|    Big Data| 10000|
|Darshana|Data Science|  5000|
|    Abhi|         IOT| 10000|
+--------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
#GroupBy
df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|    Minu|      25000|
|   Sunny|      10000|
|Darshana|       5000|
|    Neha|       4000|
|  Milind|       4000|
|    Abhi|      23000|
+--------+-----------+

In [16]:
df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|    Minu|      25000|
|   Sunny|      10000|
|Darshana|       5000|
|    Neha|       4000|
|  Milind|       4000|
|    Abhi|      23000|
+--------+-----------+

In [17]:
#Groupby department which gives maximum salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      18000|
|    Big Data|      34000|
|Data Science|      19000|
+------------+-----------+

In [18]:
df_pyspark.groupBy('Department').mean().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|            6000.0|
|    Big Data|11333.333333333334|
|Data Science| 6333.333333333333|
+------------+------------------+

In [19]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [20]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+