* Filter Operation
* &,|,==
* ~

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('df_filter').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('Book3.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Abhi| 26|        10| 30000|
|   Neha| 27|         8| 40000|
| Milind| 27|         4| 30000|
|   Minu| 25|         6| 50000|
|   Paul| 23|         8| 30000|
| Harsha| 25|         5| 60000|
|Shubham| 25|         4| 20000|
| Mahesh| 30|        12|100000|
+-------+---+----------+------+

# Filter Operation

In [7]:
## Salary of people less than or equal to 30000
df_pyspark.filter("Salary<=30000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Abhi| 26|        10| 30000|
| Milind| 27|         4| 30000|
|   Paul| 23|         8| 30000|
|Shubham| 25|         4| 20000|
+-------+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=30000").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   Abhi| 26|
| Milind| 27|
|   Paul| 23|
|Shubham| 25|
+-------+---+

In [10]:
#salary more than 30000
df_pyspark.filter(df_pyspark['Salary']>30000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Neha| 27|         8| 40000|
|  Minu| 25|         6| 50000|
|Harsha| 25|         5| 60000|
|Mahesh| 30|        12|100000|
+------+---+----------+------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']>=50000) & (df_pyspark['Salary']<=40000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [16]:
# ~ inverse filter operation
df_pyspark.filter(~(df_pyspark['Salary']>30000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Abhi| 26|        10| 30000|
| Milind| 27|         4| 30000|
|   Paul| 23|         8| 30000|
|Shubham| 25|         4| 20000|
+-------+---+----------+------+